
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  height: 100vh;
  width: 100vw;
  background-color: #dfe4ea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  border: 1px solid #e0e0e0;
  max-width: 600px;
  background-color:white;
}
.content{
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.5s ease;
}
.content p{
  padding: 15px;
}
.content:target{
  max-height: 150px;
}

.title{
  display: block;
  padding: 10px;
  font-size: 1em;
  background-color: #2f3542;
  color:white;
  border: 1px solid #57606f;
  transition: background-color 0.5s;
}
.title:hover{
  background-color: #747d8c;
}
